{
  "presets": ["react", "env"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "add-module-exports",
    [
      "module-resolver",
      {
        "root": ["./src/js"],
        "alias": {
          "assets": "./src/assets",
          "styles": "./src/styles",
          "translate": "./intl"
        }
      }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./intl/"
      }
    ]
  ]
}
