{
  "presets": ["react", "env"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "add-module-exports",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "translate": "./intl"
        }
      }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./intl/src"
      }
    ]
  ]
}
