@import 'config/mixins';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header,
.footer {
  flex-shrink: 0;
}

.header {
  position: relative;
  z-index: 3;
}

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.footer {
  position: relative;
  z-index: 1;
}
